# Wrangle

In [1]:
import pandas as pd

**Data**

In [2]:
migration = pd.read_excel("https://query.data.world/s/al6wfboprlcexlbsk5a44el7ukdqhr?dws=00000")
migration.head()

         Country STATE OR PROVINCE  Year  Inbound  Outbound
0  United States           ALABAMA  2022     0.57      0.43
1  United States           ALABAMA  2021     0.59      0.41
2  United States           ALABAMA  2020     0.61      0.39
3  United States           ALABAMA  2019     0.57      0.43
4  United States           ALABAMA  2018     0.56      0.44

In [3]:
migration.describe()

              Year     Inbound    Outbound
count   610.000000  610.000000  610.000000
mean   2017.500000    0.477689    0.510869
std       2.874639    0.100194    0.102179
min    2013.000000    0.000000    0.000000
25%    2015.000000    0.420000    0.450000
50%    2017.500000    0.490000    0.510000
75%    2020.000000    0.540000    0.570000
max    2022.000000    0.750000    1.000000

In [4]:
migration.shape

(610, 5)

In [5]:
migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            610 non-null    object
 1   STATE OR PROVINCE  610 non-null    object
 2   Year               610 non-null    int64
 3   Inbound            610 non-null    float64
 4   Outbound           610 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 24.0+ KB

In [6]:
# make columns lower case
migration.columns = migration.columns.str.lower().str.replace(" ", "_")
migration.columns

Index(['country', 'state_or_province', 'year', 'inbound', 'outbound'], dtype='object')

In [7]:
# check for null values
migration.isna().sum()

country              0
state_or_province    0
year                 0
inbound              0
outbound             0
dtype: int64

In [8]:
# make year categorical
migration.year = migration.year.astype("category")

In [9]:
migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            610 non-null    object
 1   state_or_province  610 non-null    object
 2   year               610 non-null    category
 3   inbound            610 non-null    float64
 4   outbound           610 non-null    float64
dtypes: category(1), float64(2), object(2)
memory usage: 20.2+ KB

In [11]:
# save data
migration.to_csv("Household_goods_migration_patterns.csv")

**Take aways**

- 610 rows and 5 columns
- 0 null counts
- values contained in in/out bound are total shipment percetange

In [14]:
import tabula
import pandas as pd

# Specify the path to your PDF file
pdf_path = "2022_Migration_Patterns PDF MAP.pdf"

# Extract tables from the PDF and store them in a list of DataFrames
tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True)

# Loop through the list of DataFrames and process the tables as needed
for i, table in enumerate(tables):
    # Process each table, for example, print it
    print(f"Table {i + 1}:")
    print(table)

Table 1:
   Unnamed: 0  56% Unnamed: 1   ID  Unnamed: 2 Unnamed: 3  Unnamed: 4  \
0         NaN  44%        NaN  49%         NaN        NaN         NaN
1         NaN  NaN        NaN  51%         NaN         WY         NaN
2         NaN  NaN        NaN  NaN         NaN    58% 42%         NaN
3         NaN  NaN         NV  NaN         NaN        NaN         NaN
4         NaN  NaN        49%   UT         NaN        NaN         NaN
5         NaN  NaN        51%  45%         NaN         CO         NaN
6         NaN   CA        NaN  55%         NaN        47%         NaN
7         NaN  52%        NaN  NaN         NaN        53%         NaN
8         NaN  48%        NaN  NaN         NaN        NaN         NaN
9         NaN  NaN        NaN  NaN         NaN        NaN         NaN
10        NaN  NaN        NaN   AZ         NaN         NM         NaN
11        NaN  NaN        NaN  51%         NaN     41%42%         NaN
12        NaN  NaN        NaN  49%         NaN     59%58%         NaN
13        NaN  NaN        NaN  NaN         NaN        NaN         NaN
14        NaN  NaN        NaN  NaN         NaN        NaN         NaN
15         HI  NaN        NaN  NaN         NaN        NaN         NaN

   Unnamed: 5      42% WI  Unnamed: 6            41%   MA Unnamed: 7  \
0     CT51%SD         52%          MI            NaN  NaN        NaN
1         49%         48%         58%            NaN  NaN        NaN
2          NE      IA 58%         42%  58% PA OH 42%  N J         RI
3         54%         42%       IL IN            55%   DE        NaN
4         46%         61%         59%      45% WV VA  NaN        NaN
5         NaN      39% MO         41%     47%53% 45%   MD        NaN
6         NaN  KS 53% 51%         NaN        47% 55%   DC        NaN
7         NaN     47% 49%          KY        53% 36%  NaN        NaN
8         NaN         NaN         NaN     NC 42% 64%  NaN        NaN
9         NaN          OK          TN         58% SC  NaN        NaN
10        NaN      51% AR         NaN            51%  NaN        NaN
11        NaN         49%          AL         GA 49%  NaN        NaN
12        NaN         NaN          MS            NaN  NaN        NaN
13        NaN         NaN     57% 43%            45%  NaN        NaN
14        NaN         NaN  48%43% 57%            55%  NaN        NaN
15        NaN          LA         NaN            NaN  NaN        NaN

   Unnamed: 8 Unnamed: 9
0         NaN        NaN
1         NaN         NS
2         NaN     41%59%
3         NaN        NaN
4          CT         DE
5     53% 47%     54%46%
6         NaN        NaN
7          DC         MD
8     44% 56%     51%49%
9          MA         NH
10        54%        43%
11        46%        57%
12        NaN        NaN
13         NJ         RI
14        55%        NaN
15        45%        52%
Table 2:
   Year Inbound Outbound  Year.1 Inbound.1 Outbound.1  Year.2 Inbound.2  \
0  2022     55%      45%    2022       59%        41%    2022       56%
1  2021     49%      51%    2021       56%        44%    2021       61%
2  2020     55%      45%    2020       57%        43%    2020       60%
3  2019     55%      45%    2019       60%        40%    2019       56%
4  2018     55%      45%    2018       57%        43%    2018       56%
5  2017     54%      46%    2017       63%        37%    2017       55%
6  2016     52%      48%    2016       58%        42%    2016       57%
7  2015     49%      51%    2015       55%        45%    2015       54%
8  2014     50%      50%    2014       55%        45%    2014       57%
9  2013     51%      49%    2013       53%        47%    2013       44%

  Outbound.2  Year.3 Inbound.3 Outbound.3  Year.4 Inbound.4 Outbound.4
0        44%    2022       53%        47%    2022       48%        52%
1        39%    2021       42%        58%    2021       47%        53%
2        40%    2020       40%        60%    2020       53%        47%
3        44%    2019       37%        63%    2019       46%        54%
4        44%    2018       38%        62%    2018       46%        54%
5        45%    2017       40%        60%    2017       49%        51%
6        43%    2016       41%        59%    2016       45%        55%
7        46%    2015       44%        56%    2015       41%        59%
8        43%    2014       43%        57%    2014       45%        55%
9        56%    2013       47%        53%    2013       46%        54%
Table 3:
   Year Inbound Outbound
0  2022     42%      58%
1  2021     48%      52%
2  2020     47%      53%
3  2019     47%      53%
4  2018     39%      61%
5  2017     45%      55%
6  2016     37%      63%
7  2015     40%      60%
8  2014     42%      58%
9  2013     45%      55%
Table 4:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 5:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 6:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 7:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 8:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 9:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 10:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 11:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 12:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 13:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 14:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 15:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 16:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 17:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 18:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 19:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 20:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 21:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 22:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 23:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 24:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 25:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 26:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 27:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 28:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 29:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 30:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 31:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 32:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 33:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 34:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 35:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 36:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 37:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 38:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 39:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 40:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 41:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 42:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 43:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 44:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 45:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 46:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 47:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 48:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 49:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 50:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 51:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 52:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 53:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 54:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 55:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 56:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 57:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 58:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 59:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 60:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 61:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 62:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 63:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 64:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 65:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 66:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 67:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 68:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 69:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 70:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 71:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 72:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 73:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 74:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 75:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 76:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 77:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 78:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 79:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 80:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 81:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 82:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 83:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 84:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 85:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 86:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 87:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 88:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 89:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 90:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 91:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 92:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 93:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 94:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 95:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 96:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 97:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 98:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 99:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 100:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 101:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 102:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 103:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 104:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 105:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 106:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 107:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 108:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 109:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 110:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 111:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 112:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 113:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 114:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 115:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Table 116:
Empty DataFrame
Columns: [Unnamed: 0]
Index: []